/*
 * universal reset for all the elements as well as after and before pseudo elements 
 */
 *,
 *::after,
 *::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit; /* box-sizing properties may now be inherited */
 }
 
 /*
  * set the root font-size to 62% of the default 16px to get 10px 
  * use percentage because it enables the user to still adjust the font-size in the browser 
 */
 html {
   font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

   // larger media queries always come before the smaller ones with Desktop first (max-width)
   // Smaller media queries always come before the larger ones with mobile first (min-width)

   /*
   - 1 rem = 12px; 12/16 = 75%'
   - if greater than 1800px
   */
   @include respond(big-desktop) {
     font-size: 75%;
   }

   /*
   - 1 rem = 9px; 9/16 = 56.25%
   - if < 1200px
   */
   @include respond(tab-land) {
     font-size: 56.25%;
   }

   /*
   - 1 rem = 8px; 8/16 = 50%
   - if less than 900px
   */
   @include respond(tab-port) {
     font-size: 50%;
   }

   /*
   - 1 rem = ....
   - if less than 600px
   */
   @include respond(phone) {
     font-size: 45%;
   }

 }

 /* body element contains the entire webpage */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      font-weight: 400;
      /* font-size: 16px; */
      line-height: 1.7;
      color: #777777;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 3rem; /* this should not be in pixels*/
    /* width and height will account for any border or padding; makes dealing with sizing much simpler*/
    box-sizing: border-box;

    @include respond(tab-port) {
      padding: 0; 
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  