/**
* Button:
* the link and visited state of the button look the same
* on hover, the button rises up with a shadow
* on click it will transition down a bit then pop back up for the hover
* the button has a pseudo after that scales out and vanishes on hover
* the button also rises into view with a delayed animation on page load
*/

/* btn as an unclicked link and as a visited link*/
.btn:link,
.btn:visited {
   text-transform: uppercase;
   text-decoration: none;
   padding: 15px 40px;
   display: inline-block;
   border-radius: 100px;
   transition: all .2s;
   position: relative;
}

.btn:hover {
    transform: translateY(-3px); /* move up 3 pixels on the hover*/
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px); /* make the button go down a bit on a click (active)*/
}

.btn-white {
    background-color: #fff;
    color: #777;
}

 /* The psuedo element is basically treated like a child of the parent element*/
.btn::after {
    content: ""; /* must be specified even if empty */
    display: inline-block;
    height: 100%; /* matches the parent height */
    width: 100%; /* matches the parent width */
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* animation-name duration timing-function delay */ 
.btn-animated {
   animation: moveInBottom .5s ease-out .75s;
   animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
       opacity: 0;
       transform: translateY(30px);
    }


    100% {
       opacity: 1;
       transform: translateY(0px)
    }
}