/**
* Header:
* takes up 95 percent of the viewport
* has a background image as well as a linear gradient cover
* the background is clipped into a polygon shape with clip-path
*/
@import '../../base/variables';


.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
        url('../../../Images/hero.jpg');
    background-size: cover; /* will always try to fit the viewport or element selected to cover*/
    background-position: top;

    /**
     * specify a polygon in which the element will be visible; top left then clockwise
     * polygon( x y, x y, x y, x y)
    */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
    position: relative; /* The reference for the logo-box*/
}
