/**
* Logo:
* the logo is in the top left corner of the page
*/

.logo-box {
    position: absolute; /* relative to the header*/
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px; /* the width will be auto figured out*/
}
