.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        #7ed56fb4, 
        #28b485b4),
        url('../../Images/hero.jpg');
    background-size: cover; /* will always try to fit the viewport or element selected to cover*/
    background-position: top;

    /**
     * specify a polygon in which the element will be visible; top left then clockwise
     * polygon( x y, x y, x y, x y)
    */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
    position: relative; /* The reference for the logo-box*/
}

.logo-box {
    position: absolute; /* relative to the header*/
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px; /* the width will be auto figured out*/
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* translate the center of the object to it's 'position'*/
    text-align: center;
}

 .heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* This is to prevent against shaky animations*/
    backface-visibility: hidden;
    margin-bottom: 60px;
 }

 .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; /* the animation will start fast and then slow down*/
    
    /*
    animation-iteration-count: 3;
    animation-delay: 3s;
    */
 }

 .heading-primary-sub {
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 19.5px;

    animation: moveInRight 1.5s ease-out;
 }

 @keyframes moveInLeft {
     0% {
        opacity: 0;
        transform: translateX(-100px);
     }

     65% {
        transform: translateX(10px)
     }

     100% {
        opacity: 1;
        transform: translateX(0px)
     }
 }

 @keyframes moveInRight {
     0% {
        opacity: 0;
        transform: translateX(100px);
     }

     65% {
        transform: translateX(-10px)
     }

     100% {
        opacity: 1;
        transform: translateX(0px)
     }
 }

 @keyframes moveInBottom {
     0% {
        opacity: 0;
        transform: translateY(30px);
     }


     100% {
        opacity: 1;
        transform: translateY(0px)
     }
 }

 .btn:link,
 .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
 }

 .btn:hover {
     transform: translateY(-3px); /* move up 3 pixels on the hover*/
     box-shadow: 0 5px 10px rgba(0,0,0,.2);
 }

 .btn:active {
     transform: translateY(-1px); /* make the button go down a bit on a click (active)*/
 }

 .btn-white {
     background-color: #fff;
     color: #777;
 }

  /* The psuedo element is basically treated like a child of the parent element*/
 .btn::after {
     content: ""; /* must be specified even if empty */
     display: inline-block;
     height: 100%; /* matches the parent height */
     width: 100%; /* matches the parent width */
     border-radius: 100px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     transition: all .4s;
 }

 .btn-white::after {
     background-color: #fff;
 }

 .btn:hover::after {
     transform: scaleX(1.4) scaleY(1.6);
     opacity: 0;
 }

 /* animation-name duration timing-function delay */ 
 .btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
 }
