// append a pseudo element to the element, which will clear the floated child elements
@mixin clearfix {
     &::after {
         // always specify the content property, or the pseudo element won't render to the page
         content: "";
         display: table;
         clear: both; // float left and float right
     }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600 - 900px:        Tablet portrait
900 - 1200px:       Tablet landscape
[1200 - 1800]       this is our normal desktop range
1800px +:           Big desktop

$breakpoint
- tab-port
- tab-land
- big-desktop

1em = 16px
mixins font size will always be based on the browser default, or user selected font size

? ORDER OF MEDIA QUERY PRIORITIES: Base + typography > general layout + grid > page layout > components

*/
@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media (max-width: 26.87em) { @content }; // 430px
    }
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == large-phone {
        @media (max-width: 46.87em) { @content }; // 750px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    }
    @if $breakpoint == tab-land-small {
        @media (max-width: 65.62em) { @content }; // 1050px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == tab-land-big {
        @media (max-width: 84.37em) { @content }; // 1350px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };  // 1800px
    }
}

@mixin responsive-heading-secondary {
    @include respond (big-desktop) {
        font-size: 4.1rem;
    }
    @include respond (tab-land-big) {
        font-size: 3.5rem;
    }
    @include respond (tab-land) {
        font-size: 3.2rem;
    }
    @include respond (tab-land-small) {
        font-size: 2.9rem;
    }
    @include respond (tab-port) {
        font-size: 2.6rem;
    }
    @include respond (large-phone) {
        font-size: 2.3rem;
    }
    @include respond (phone) { 
        font-size: 1.9rem;
    }
    @include respond (small-phone) {
        font-size: 1.4rem;
    }

}

@mixin responsive-heading-primary-sub {
    @include respond (big-desktop) {
        letter-spacing: 2.9rem;
    }
    @include respond (tab-land-big) {
    letter-spacing: 1.8rem;
    }
    @include respond (tab-land) {
    letter-spacing: 1.7rem;
    }
    @include respond (tab-land-small) {
    letter-spacing: 1.5rem;
    }
    @include respond (tab-port) {
    letter-spacing: 1.4rem;
    }
    @include respond (large-phone) {
    letter-spacing: 1.25rem;
    }
    @include respond(phone) {
    letter-spacing: 1.1rem;
    }
}

@mixin responsive-heading-primary-main {
    @include respond (big-desktop) {
        letter-spacing: 3.6rem;
     }
     @include respond (tab-land-big) {
        letter-spacing: 3rem;
     }
     @include respond (tab-land) {
        letter-spacing: 2.7rem;
     }
     @include respond (tab-land-small) {
        letter-spacing: 2.4rem;
     }
     @include respond (tab-port) {
        letter-spacing: 2.1rem;
     }
     @include respond (large-phone) {
        letter-spacing: 1.8rem;
     }
     @include respond(phone) {
        letter-spacing: 1.5rem;
     }
}