// append a pseudo element to the element, which will clear the floated child elements
@mixin clearfix {
     &::after {
         // always specify the content property, or the pseudo element won't render to the page
         content: "";
         display: table;
         clear: both; // float left and float right
     }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600 - 900px:        Tablet portrait
900 - 1200px:       Tablet landscape
[1200 - 1800]       this is our normal desktop range
1800px +:           Big desktop

$breakpoint
- tab-port
- tab-land
- big-desktop

1em = 16px
mixins font size will always be based on the browser default, or user selected font size
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };  // 1800px
    }
}
