.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;

    &__content {
        height: 100%;
        width: 100%;
        /**
         * specifies how the contents of a replaced element should be scaled relative
         * to the box established by it used height and width
        */
        object-fit: cover;
        overflow: hidden; // just incase there is still some overhang from the bg-video across the section
    }
}