@import '../abstract/variables';
@import '../abstract/mixins';

.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto; // center the row
    
    // apply the margin-bottom to all of the rows except the last
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

    }

    // clearfix to make row retain its hight despite floated columns
    @include clearfix;
    
    // a column is always inside of a row
    .col-1-of-2 {
        width: calc((100% - #{$horizontal-gutter}) / 2); // responsive width
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $horizontal-gutter;
        }
    }
}