@import '../abstract/variables';

.story {
    width: 75%;
    margin: 0 auto; // center a box within a box
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    position: relative;
    /* 
    & > * {
        transform: skewX(12deg);
    } 
    */

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        // radius is positioned at 50% height and 50% width (a.k.a the center); radius is also %50 length of the height
        // element has to be floated for the shape-outside property to work, and must have defined dimensions
        // shapes how text will flow around the outside of the element
        -webkit-shape-outside: circle(50% at 50% 50%); 
        shape-outside: circle(50% at 50% 50%); 
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); // transform floated objects to create margin
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem); // push the image more into the middle of the figure shape
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; // fixes/prevents a small glitch with the transition
    }

    // move it up to the middle of the picture and make it visible
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem);
        filter: blur(3px) brightness(80%);
    }
}