/*
? Grid System swithces from columns to stacked rows at 1100px
? Rows have a small margin bottom as well as each column
*/
@import '../abstract/variables';
@import '../abstract/mixins';

.row {
    max-width: $grid-width;
    margin: 0 auto; // center the row
    
    // apply the margin-bottom to all of the rows except the last
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond (columns-break) {
            margin-bottom: $gutter-vertical-small;
        }

    }

    @include respond (columns-break) {
        max-width: 60%;
    }

    // clearfix to make row retain its hight despite floated columns
    @include clearfix;

    // 'attribute' to select all classes that start with "col-" (*, $)
    [class^="col-"] {
        float: left;
    
        &:not(:last-child) {
            margin-right: $horizontal-gutter;

            @include respond (columns-break) {
                width: 100% !important;
                margin-right: 0 !important;
                margin-bottom: $gutter-vertical-small;
            }
        }

        &:last-child {
            @include respond (columns-break) {
                width: 100% !important;
            }
        }
    }
    
    // a column is always inside of a row
    .col-1-of-2 {
        width: calc((100% - #{$horizontal-gutter}) / 2); // responsive width
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$horizontal-gutter}) / 3);
    }
    
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$horizontal-gutter}) / 3) + #{$horizontal-gutter});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$horizontal-gutter}) / 4);
    }

    .col-2-of-4 {
        width: calc((2 * (100% - 3 * #{$horizontal-gutter}) / 4) + #{$horizontal-gutter});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$horizontal-gutter}) / 4) + 2 * #{$horizontal-gutter});
    }
}