@import '../abstract/variables';
@import '../abstract/mixins';

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
        url('../../Images/nat-4.jpg');
    background-size: cover; /* will always try to fit the viewport or element selected to cover*/
    background-position: top;

    // clip-path: polygon(0% 25%, 75vw 0%, 100% 0%, 100% 75vh, 0% 100%);
    transform: skewY(-7deg);
    margin-top: -15rem;

    // all direct children of this section
    & > * {
        transform: skewY(7deg)
    }
    
    @include respond (columns-break) {
        padding: 10rem 0;
    }
}