@import '../abstract/variables';
@import '../abstract/mixins';

.section-stories {
    position: relative;
    padding: 15rem 0;
    // background-color: $color-grey-light-1;
    @include respond (columns-break) {
        padding: 12rem 0;
    }
}