@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@400;700&display=swap');

/* set the root font-size to 10px; 1rem = 10px */
html {
  font-size: 10px;
}

/* body element contains the entire webpage*/
body {
  margin: 0;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px; /* this should not be in pixels*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
